/* #4070F4 */

body {
    background: #fff;
    cursor: pointer;
}


.header-1 {
    font-size: 14px;
    font-weight: 700;
    color: black;
    /* font-family: 'Poppins', sans-serif; */
    font-family: "JetBrains Mono", monospace;
    scroll-behavior: smooth;
    background: white;
}

.navbar-nav li{
    padding-right: 15px;
}

.navbar-nav li:hover a::before {
    right: 0;
    left: 0;
  }
  .navbar-nav a {
    color: #848484;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 20px 0;
    display: block;
    position: relative;
    transition: all 0.3s ease;
  }
  .navbar-nav a:hover {
    color: #f44336;
  }
  .navbar-nav a::before {
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 0.18rem;
    background-color: #f44336;
  }
  .navbar-nav a:hover::before {
    right: 0;
    left: 0;
  }

.main-site {
    font-family: "JetBrains Mono", monospace;
    font-size: 3rem;
    font-weight: 800;
    padding-top: 17%;
}

.name-display b{
    color: #f44336;
}

#profile-pic {
    width:380px;
    height: 350px;
    padding-top: 2%;
    margin-top: 160px;
}


.main-container {
    -webkit-box-shadow: -22px -9px 22px -7px rgba(237,237,237,1);
    -moz-box-shadow: -22px -9px 22px -7px rgba(237,237,237,1);
    box-shadow: -22px -9px 22px -7px rgba(237,237,237,1);
}

.linkedin-icon {
    margin-left: 1px;
}

.about-head {
    font-family: "JetBrains Mono", monospace;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;   
    color: #f44336;
}

.btn {
  background: #f44336;
}

.btn:hover {
  background: white;
  color: #f44336;
}

.underline {
    width: 5rem;
    height: 0.25rem;
    background: #f44336;
    margin-left: auto;
    margin-right: auto;
}

.about-section {
  font-family: "JetBrains Mono", monospace;
}

.about-me-text {
  font-family: "JetBrains Mono", monospace;
  font-size: 1.2rem;
  font-weight: 500;
}

#banner-pic {
  margin-top: 20px;
}

#about-section-area {
  padding-top: 8.25%;
  padding-left: 50px;
}

.custom-image {
  width: 100px;
  height: 100px;
  padding: 10px;
}

#skills-pic {
    padding-top: 9%;
    margin-top: 130px;
}

.skills-section {
  font-family: 'Poppins';
}

.professional-head {
  margin-top: 20%;
}


* {box-sizing:border-box}


.container1 {
  width: 100%; 
  background-color: #ddd; 
}

.list-about {
  font-weight: 400;
}

.about-one {
  padding-top: 5%;
}

.skills {
  text-align: right; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  color: white; 
}

.html {width: 90%; background-color: #696969;} 
.css {width: 80%; background-color: #2196F3;} 
.js {width: 60%; background-color: #f44336;} 
.bootstrap {width: 90%; background-color: #8a2be2;} 

.work-pic {
  width: 100%;
  height: 100%;
  padding-top: 12%;
  border-radius: 8px;
}

/* .contact-section {
  width: 40%;
  margin: 0 auto;
} */

.contact-section-input input{
  width: 100%;
  margin-top: 5%;
  padding: 10px;
  border: 2px solid black;
  font-family: 'Roboto';
  border-radius: 12px;
}

textarea {
  width: 100%;
  margin-top: 5%;
  border: 2px solid black;
  border-radius: 12px;
}

.submit-btn {
  margin-top: 5%;
  float: right;
}

.tag {
  font-size: 1.1rem;
  font-weight: normal;
}

.creative-brand {
  color: #f44336;
  font-size: 1.6rem;
  font-weight: bolder;
}

.footer-section-text {
  background-color: rgb(12, 20, 58);
  color: white;
  text-align: center;
  padding: 3%;
  font-family: "JetBrains Mono", monospace;;
  font-weight: 500;
}

.creative-span {
  font-weight: bold;
  font-size: 2.5rem;
  color: #f44336;
}

.creative-agency {
  font-weight: bold;
}

.fixed-navbar {
  background: white;
}

.testimonial:after {
    position: absolute;
    top: -0 !important;
    left: 0;
    content: " ";
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
}

.testimonial {
    min-height: 375px;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
        background-size: cover;
}
#testimonial4 .carousel-inner:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item{
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators{
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li{
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #ffffff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active{
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  margin: 2px 3px;
  background-color: #9dd3af;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
  height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial4_control_button .carousel-control{
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.testimonial4_control_button .carousel-control.left{
  left: 7%;
  top: 50%;
  right: auto;
}
.testimonial4_control_button .carousel-control.right{
  right: 7%;
  top: 50%;
  left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover{
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}

.testimonial4_header{
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  margin: 30px auto;
  text-align: center;
  position: relative;
}
.testimonial4_header h4{
  color: hsl(228, 39%, 23%);
  font-size: 30px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.testimonial4_slide{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}
.testimonial4_slide img {
    top: 0;
    left: 0;
    right: 0;
    width: 136px;
    height: 136px;
    margin: auto;
    display: block;
    color: #f2f2f2;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
    border-radius: 50%;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}
.testimonial4_slide p {
    color: hsl(227, 12%, 61%);
    font-size: 20px;
    line-height: 1.4;
    margin: 40px 0 20px 0;
}
.testimonial4_slide h4 {
  color: hsl(228, 39%, 23%);
  font-size: 22px;
}

.testimonial .carousel {
	padding-bottom:50px;
}
.testimonial .carousel-control-next-icon, .testimonial .carousel-control-prev-icon {
    width: 35px;
    height: 35px;
    color: hsl(228, 39%, 23%);
    background-color: hsl(228, 39%, 23%);
}


.carousel-inner {
    -webkit-box-shadow: -6px 6px 17px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px 6px 17px -1px rgba(0,0,0,0.75);
    box-shadow: -6px 6px 17px -1px rgba(0,0,0,0.75);
    padding: 20px;
}

#carousel-text-control {
  font-weight: 400;
  color: black;
  font-size: 1rem;
}

#carousel-link {
  color: #f44336;
  text-decoration: none;
}

#carousel-link:hover {
  color: #d32f2f;
}